.game-gallows {
    display: flex;
    justify-content: space-between;
}

figure {
    margin-top: 59px;
    margin-left: 38px;
    width: 400px;
    height: 466px;
}

img {
    width: 400px;
    height: 466px;
}

.game-button {
    margin-top: 89px;
    margin-right: 53px;
}

.game-button button {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #27AE60;
    border-radius: 8px;
    border-style: none;
    width: 200;
    height: 60px;
    cursor: pointer;
}