ul {
    width: 676px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 205px;
    margin-top: 70px;
}

ul button {
    border-style: none;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    background-color: #9FAAB5;
    width: 40px;
    height: 40px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    color: #798A9F;
    margin: 6px;
}

.enabled-button {
    background-color: #E1ECF4;
    color: #39739D;
    cursor: pointer;
}

.victory {
    color: #27AE60;
}

.defeat {
    color: #FF0000;

}